* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* changed the code that affected the header class elements to affect the header element itself. Allowed to use the header tag instead of div class="header" in index.html */

header h1 {
    display: inline-block;
    font-size: 48px;
}

#seo {
    color: #d9dcd6;
}

/* removed the .header h1 .seo class and replaced it with id="seo" instead because creating an entire class for something that's only being shown or used once didn't make a lot of sense. */

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* nav ul {
    list-style-type: none;
}  */

/* removed the code above from being read because it ultimately didn't affect the end result */

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* changed the .header div tags to nav tags instead because of semantics. */

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* changed the hero to an id instead of a class because of the same reasons as #seo seen in lines 25-29. Didn't seem necessary to make a class for something that's only being called to once */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-margin {
    margin-bottom: 32px;
    color: #ffffff;
}

/* consolidated .benefit-lead, .benefit-brand, and .benefit-cost into one class so that the margin-bottom and color code aren't repeating. */

.benefit-margin h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* conslidated benefit-margin h3 tag to avoid repeating code. */

.benefit-margin img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* conslidated benefit-margin img tag to avoid repeating code. */

.article-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* consolidated .search-engine-optimization, .online-reputation-management, and .social-media-marketing code into one class that is called upon multiple times for each of the different sections. Avoiding repeating code. */

.article-content img {
    max-height: 200px;
}

/* consolidated article-content img tag for the same reason as above */

.article-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* consolidated article-content h2 tag for the same reason as above */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* removed .footer class to simply footer so that we wouldn't need repeating code in index.html. This section of code now affects the footer element entirely instead of needing to add class="footer" to the element. */

footer h2 {
    font-size: 20px;
}

/* same reason as above. Changed from code effecting the class to any h2 tag that's in the footer element. */
